{% extends 'store/base_generic.html' %}

{% block title %}Home | Gadgets Store{% endblock %}

{% block content %}

<div class="container my-3">
    <h1 class="my-4 text-center">Shop the Latest Gadgets</h1>

    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card product-card mb-4 shadow-sm">
                <img src="{{ product.image.url }}" class="d-block w-100" alt="{{ product.name }}">
                <div class="card-body">
                    <h3>{{ product.name }}</h3>
                    <p class="card-text">{{ product.description }}</p>
                    <p><strong>Price: </strong>Rs. {{ product.price }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            {% if user.is_authenticated %}
                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                    <a href="{% url 'add_to_cart' product.id %}" style="text-decoration: none; color: inherit;">Add to Cart</a>
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-sm btn-outline-primary">
                                    <a href="{% url 'login' %}" style="text-decoration: none; color: inherit;">Login to Add to Cart</a>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No featured products available at the moment.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
